body {
    font-family: Helvetica, sans-serif;
    color: #2D2D2D;
    background: #F8F8F8;
    /* centers page */
    margin: auto;
    max-width: 80ch;
    text-align: justify;
    /* scrollbar always present, prevents page from unalining when it is added */    
    overflow-y: scroll;
    /* prevents mobile version from resizing in weird way the text */
    -webkit-text-size-adjust: 100%;
}

ul[type='menu'] {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #F8F8F8;
  color: #2D2D2D;
}

li[type='entry'] {
  float: left;
}
.flag[type='entry']{
    float:right;
    padding: 0px 0px;
}

li[type='entry'] a {
    font-weight: bold;
    display: block;
    color: #2D2D2D;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
}


ul { overflow: hidden; }
